h1{
    color: blueviolet;
}

h2{
    color: blue;
}

#header1 {
    color: green;
}

#location1 {
    color: violet;
}

.custom-card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card{
    height: 100%;
}